body{
	 background-image: url("congruent_pentagon/congruent_pentagon.png");
}

#menu{
	position: absolute;
	left:25%;
	top:0%;
	background-color: yellow;
}

#menu li{
	position:relative;
	display :inline;
}

.autocomplete_button{
	width :400px;
}

.display-section{
	position:absolute;
	display:block;
	top:10%;
	left:25%;
	width:50%;
	height:80%;
	background-color: white;
	z-index:-5;

}
.search_input_wrapper{
	top:25%;
position:relative;

}

 
/*================

	CLASSE ERREUR

=================*/
.erreur{
	display:block;
	left:0;
	position:relative;
	z-index:999999;
	width:400px;
	background-color: black;
	}

p.erreur{
	color:white;
}	